<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
	<title>Home Page</title>
</head>
<body>
	<div id="content">
		<h1>Welcome to Home Page</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Vel omnis quis suscipit quaerat voluptate ipsum aut vero molestias
					vitae quia numquam quam ut officiis nemo esse nostrum rem nesciunt
					pariatur.</p>
	</div>
	
	<script>console.log("Home page")</script>
</body>
</html>